<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1 id="titulo">Bienvenidos</h1>
    <h2>En este sitio web conoceran a los grandes héroes de la ciencia e informática</h2>

         <div id="botones">
            <ul>
                <li><a href="/babbage" class="button">Charles Babbage</a></li><br>
                <li><a href="/berners-lee" class="button">Tim Berners Lee</a></li><br>
                <li><a href="/clarke" class="button">Joan Clarke</a></li><br>
                <li><a href="/hamilton" class="button">Margaret Hamilton</a></li><br> 
                <li><a href="/hopper" class="button">Grace Hopper</a></li><br>
                <li><a href="/lovelace" class="button">Ada Lovelace</a></li><br>
                <li><a href="/turing" class="button">Alan Turing</a></li><br>
            </ul>
        </div>
</body>
</html>