<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelace</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div style="text-align: center;"><h1 class="titulo">Ada Lovelace</h1></div>
    <div style="text-align: center;"><img src="/img/lovelace.jpg" alt="Ada Lovelace" width="300"></div>
    <div id="info">
    <ul>
        <li>Nacimiento : 10 de diciembre de 1815, Londres, Reino Unido</li>
        <li>Fallecimiento : 27 de noviembre de 1852, Marylebone, Londres, Reino Unido</li>
    </ul>
    <p>Augusta Ada King, condesa de Lovelace,fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la computadora mecánica de uso general de Charles Babbage, la denominada máquina analítica. Fue la primera en reconocer que la máquina tenía aplicaciones más allá del cálculo puro y en haber publicado lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores.

    </p>
    </div>

    <div id="return"><a href="/home" class="button">Volver al Home</a></div>

</body>
</html>